<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Machine Learning | CPBQueue</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="travis">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<link href="__PUBLIC__/css/messenger.css" rel="stylesheet">
<link href="__PUBLIC__/css/messenger-theme-future.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<include file="Base/head"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header"><a href="__APP__"><i class="icon-home"></i> Dashboard</a></li>
          <li class="nav-header"><i class="icon-list"></i> Job</li>
          <li><a href="__MODULE__/Job/ajob">New Job</a></li>
          <li><a href="__MODULE__/Job/qjob">Job Status</a></li>
          <li class="nav-header"><i class="icon-pencil"></i> Protocol</li>
          <li class="active"><a href="__MODULE__/Protocol">New Protocol</a></li>
          <li><a href="__MODULE__/Protocol/lprotocol">Edit Protocol</a></li>
          <li class="nav-header"><a href="__MODULE__/Reference"><i class="icon-book"></i> Reference</a></li>
          <li class="nav-header"><i class="icon-lock"></i> System</li>
          <li><a href="__MODULE__/System">Settings</a></li>
          <li><a href="__MODULE__/System/user">Users</a></li>
        </ul>
      </div>
    </div>
    <div class="span10">
      <!-- <div class="span9"> -->
        <div class="row-fluid">
          <div class="page-header">
            <h1>Import Check Point</h1>
          </div>
          	<table class="table table-bordered">
	          <thead>
	            <tr>
	              <th>ID</th>
	              <th>Protocol</th>
	            </tr>
	          </thead>
	          <tbody>
	            <volist name="prol" id="hit">
	              <tr class="pending-user">
	                <td>{$hit.id}</td>
	                <td><span onclick="showSteps({$hit.id})" style="cursor:pointer;">{$hit.name}</span></td>
	              </tr>
	            </volist>
	          </tbody>
        	</table>
        	<div id="stepsContainer" style="display:none;"></div>
          </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="modal fade" id="ml" tabindex="-1" role="dialog" aria-labelledby="steps">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Import Step Check Point</h4>
      </div>
      <div class="modal-body"> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<hr>
<include file="Base/foot"/>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/messenger.min.js"></script>
<script type="text/javascript">
function showSteps(recId){
    $.get("__CONTROLLER__/showSteps/pro/"+recId, function(result){
      if ($('#stepsContainer').css("display") != 'none'){
      	$('#stepsContainer').hide("fast");
      }
      $('#stepsContainer').html(result);
      $('#stepsContainer').show("slow");
    });
}
function showML(h, t){
	$.get("__CONTROLLER__/getML/hash/"+h+"/type/"+t, function(result){
		$('#ml .modal-body').html(result)
		$('#ml').modal();
	});
}
	$(document)
	.ajaxStart(function(){
		$("button:submit").attr("disabled", true);
	})
	.ajaxStop(function(){
		$("button:submit").attr("disabled", false);
	});
	$("form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;
	
		function success(data){
			if(data.status){
				$(".reloadverify").click();
				Messenger().post({
					message: data.info,
					showCloseButton: true
				});
				$("#name").val('');
				$("#inputPassword").val('');
			} else {
				Messenger().post({
					message: data.info,
					type: 'error',
					showCloseButton: true
				});
				$(".reloadverify").click();
				$("#inputPassword").val('');
			}
		}
	});
  $(function(){
    var verifyimg = $(".verifyimg").attr("src");
      $(".reloadverify").click(function(){
          if( verifyimg.indexOf('?')>0){
              $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        });
  });
  </script>
</body>
</html>
