<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Software</th>
			<th>Import Check point</th>
		</tr>
	</thead>
	<tbody>
	<volist name="stepl" id="hit">
	<tr class="pending-user">
		<td>{$hit.id}</td>
		<td>{$hit.software}</td>
		<td>
			<span class="label label-warning cpu" onclick="showML('{$hit.hash}', 3);" style="cursor:pointer;">CPU</span>
			<span class="label label-info mem" onclick="showML('{$hit.hash}', 2);" style="cursor:pointer;">Memory</span>
			<span class="label label-success disk" onclick="showML('{$hit.hash}', 1);" style="cursor:pointer;">Disk</span>
		</td>
	</tr>
	</volist>
	</tbody>
</table>