<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>User Management | CPBQueue</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="travis">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<link href="__PUBLIC__/css/messenger.css" rel="stylesheet">
<link href="__PUBLIC__/css/messenger-theme-future.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<include file="Base/head"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header"><a href="__APP__"><i class="icon-home"></i> Dashboard</a></li>
          <li class="nav-header"><i class="icon-list"></i> Job</li>
          <li><a href="__MODULE__/Job/ajob">New Job</a></li>
          <li><a href="__MODULE__/Job/qjob">Job Status</a></li>
          <li class="nav-header"><i class="icon-pencil"></i> Protocol</li>
          <li><a href="__MODULE__/Protocol">New Protocol</a></li>
          <li><a href="__MODULE__/Protocol/lprotocol">Edit Protocol</a></li>
          <li class="nav-header"><a href="__MODULE__/Reference"><i class="icon-book"></i> Reference</a></li>
          <li class="nav-header"><i class="icon-lock"></i> System</li>
          <li><a href="__MODULE__/System">Settings</a></li>
          <li class="active"><a href="__MODULE__/System/user">Users</a></li>
        </ul>
      </div>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="page-header">
				<h1>User Management</h1>
			</div>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Role</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
                <volist name="usl" id="hit">
				<tr class="list-users">
					<td>{$hit.id}</td>
					<td>{$hit.user}</td>
					<td class='user-role'><if condition="($hit.status eq 1)"><span class="label label-success">Normal User</span>
                	<elseif condition="$hit.status eq 2"/><span class="label label-warning">Administrator</span>
					<elseif condition="$hit.status eq 3"/><span class="label label-important">Founder</span>
                    </if></td>
					<td class='user-stat'><if condition="($hit.status eq 0)"><span class="label label-important">Not approved</span>
                    	<else /> <span class="label label-success">Approved</span>
					</if></td>
					<td>
						<div class="btn-group">
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Operation <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="__CONTROLLER__/deleteUser/toD/{$hit.id}" class="userAct"><i class="icon-trash"></i> Delete</a></li>
								<li class="nav-header">Assign role</li>
								<li><a href="__CONTROLLER__/asAdmin/toD/{$hit.id}" data-role="2" class="userAct"><i class="icon-lock"></i> <strong>Administrator</strong></a></li>
								<li><a href="__CONTROLLER__/asNUser/toD/{$hit.id}" data-role="1" class="userAct"><i class="icon-lock"></i> <strong>Normal User</strong></a></li>
							</ul>
						</div>
					</td>
				</tr>
                </volist>
                </tbody>
			</table>
			{$page}
		  </div>
      </div>
    </div>
  </div>
  <hr>
  <include file="Base/foot"/> </div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/messenger.min.js"></script>
<script>
	$(document)
	.ajaxStart(function(){
		$("button:submit").attr("disabled", true);
	})
	.ajaxStop(function(){
		$("button:submit").attr("disabled", false);
	});
	$(".userAct").click(function(type=1){
		var self = $(this);
		$.get(self.attr("href"), function(data){
      if(data.status){
        Messenger().post({
          message: data.info,
          showCloseButton: true
        });
        if (self.attr('data-role') == 2){
          self.parents('tr').children('.user-role').html('<span class="label label-warning">Administrator</span>');
        }else{
          self.parents('tr').children('.user-role').html('<span class="label label-success">Normal User</span>');
        }
        self.parents('tr').children('.user-stat').html('<span class="label label-success">Approved</span>');
      } else {
        Messenger().post({
          message: data.info,
          type: 'error',
          showCloseButton: true
        });
      }
    }, "json");
		return false;
	
		function success(data){
			if(data.status){
				Messenger().post({
					message: data.info,
					showCloseButton: true
				});
				alert($(this).html());
				//self.parents('.user-stat').html('<span class="label label-success">Approved</span>');
			} else {
				Messenger().post({
					message: data.info,
					type: 'error',
					showCloseButton: true
				});
			}
		}
	});
  </script>
</body>
</html>
