.project
*.log
/web/Application/Runtime/*
web/Application/Common/Conf/config.php
*.lock
web/config.conf
.pydevproject
*.pyc
/web/Workspace/*
/.idea/*
worker/.idea/*
worker/cpbqueue.wpr
worker/cpbqueue.wpu
worker/1