<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Step1: Check System Environment | CPBQueue</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="travis">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<include file="Base/head"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8"> 
      <!-- <div class="span9"> -->
      <div class="row-fluid">
        <div class="page-header">
          <h1>Step1: Check System Environment</h1>
        </div>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 25%;"></div>
        </div>
        <h2>Runtime</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td>Item</td>
              <td>Required</td>
              <td>Current</td>
            </tr>
          </thead>
          <tbody>
            <volist name="env" id="item">
              <tr>
                <td>{$item[0]}</td>
                <td>{$item[1]}</td>
                <td><i class="icon-{$item[4]}"></i>&nbsp;{$item[3]}</td>
              </tr>
            </volist>
          </tbody>
        </table>
        <h2>Permission</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td>Item</td>
              <td>Required</td>
              <td>Current</td>
            </tr>
          </thead>
          <tbody>
            <volist name="dirfile" id="item">
              <tr>
                <td>{$item[3]}</td>
                <td>Writable</td>
                <td><i class="icon-{$item[2]}"></i>&nbsp;{$item[1]}</td>
              </tr>
            </volist>
          </tbody>
        </table>
        <h2>PHP Functions</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td>Function</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <volist name="func" id="item">
              <tr>
                <td>{$item[0]}()</td>
                <td><i class="icon-{$item[2]}"></i>&nbsp;{$item[1]}</td>
              </tr>
            </volist>
          </tbody>
        </table>
        <a class="btn btn-primary btn-large text-right" href="__CONTROLLER__/step2">Next</a></div>
      <!-- </div> --> 
    </div>
    <div class="span2"></div>
  </div>
</div>
<hr>
<include file="Base/foot"/> 
<script src="__PUBLIC__/js/jquery.js"></script>
</body>
</html>
