<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Step3: Create Data Tables | CPBQueue</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="travis">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<include file="Base/head"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8"> 
      <!-- <div class="span9"> -->
      <div class="row-fluid">
        <div class="page-header">
          <h1>Step3: Create Data Tables</h1>
        </div>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 75%;"></div>
        </div>
        <div id="show-list" class="install-database"></div>
        <button class="btn btn-warning btn-large disabled">Installing...</button>
    </div>
    <div class="span2"></div>
  </div>
</div>
<hr>
<include file="Base/foot"/> 
<script src="__PUBLIC__/js/jquery.js"></script> 
<script type="text/javascript">
	var list   = document.getElementById('show-list');
	function showmsg(msg, classname){
		var li = document.createElement('p'); 
        li.innerHTML = msg;
        classname && li.setAttribute('class', classname);
        list.appendChild(li);
        document.scrollTop += 30;
    }
</script>
</body>
</html>
