{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<link href="{% static "ui/css/bootstrap.css" %}" rel="stylesheet" media="screen">
<link href="{% static "ui/css/bootstrap-theme.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "ui/css/site.css" %}" rel="stylesheet" media="screen">
<link href="{% static "ui/css/font-awesome.min.css" %}" rel="stylesheet">
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<style type="text/css">
    .navbar .navbar-inner a{
        color: white !important;
    }
</style>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}" style="padding-top: 0;">
<div class="navbar" style="margin-bottom: 0;">
  <div class="navbar-inner" style="padding-left: 0;">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </a>
        <a class="brand" style="margin-top: 2px;" href="{% url 'ui:index' %}">
            <span class='brand-slogan'>{% block branding %}{% endblock %}</span>
        </a>
        <ul class="nav navbar-nav navbar-right">
        {% block usertools %}
            {% if has_permission %}
            <!--<div id="user-tools">-->
            {% block welcome-msg %}
                <li><a style="color: white;">{% trans 'Welcome,' %}<strong>{% firstof user.get_short_name user.get_username %}</strong>.</a></li>
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <li><a href="{{ site_url }}">{% trans 'View site' %}</a></li>
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                <li>{% block nav-global %}{% endblock %}</li>
            {% endblock %}
            <!--</div>-->
            {% endif %}
        {% endblock %}
        </ul>
    </div>
  </div>
</div>
<!-- Container -->
<div id="container">

    {% if not is_popup %}
    {% block breadcrumbs %}
    
    <ul class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li>{% if title %} &rsaquo; {{ title }}{% endif %}</li>
    </ul>
    
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div class="fluid-container">
        <div class="row-fluid">
            <div class="col-xs-10">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
            </div>
            <div class="col-xs-2 admin-sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
    <br class="clear" />
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
