{% extends "ui/single.html" %}
{% block title %}Sign Up | CPBQueue{% endblock %}
{% block content %}
<div class="well">
    <h1 class="margin-base-vertical text-center" style="text-align:center;">Sign up CPBQueue</h1>
    <form action="." method="post" class="form-horizontal">
        <div class="control-group"></div>
        <div class="Validform_checktip alert" style="display: none;"></div>
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
        <div class="control-group">
            <div class="span6">
              <button class="input-block-level btn btn-primary" type="submit" class="btn">
              Sign up
              </button>
            </div>
            <div class="span6">
                <a class="input-block-level btn btn-success" type="submit" href="{% url 'accounts:login' %}">Sign in</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
$(document)
    .ajaxStart(function(){
        $("button:submit").attr("disabled", true);
    })
    .ajaxStop(function(){
        $("button:submit").attr("disabled", false);
    });
    $("form").submit(function(){
        var self = $(this);
        self.find(".Validform_checktip").hide();
        $.post(self.attr("action"), self.serialize(), success, "json");
        return false;

        function success(data){
            if(data.status){
                window.location.href = data.url;
            } else {
                $('form')[0].reset();
                self.find(".Validform_checktip").html(data.info).show();
            }
        }
    });
{% endblock %}