<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Sign In | CPBQueue</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="travis">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<include file="Base/head"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <div class="well">
        <h1 class="margin-base-vertical text-center" style="text-align:center;">Sign in CPBQueue</h1>
        <form class="form-horizontal" method="post" action="__CONTROLLER__/log">
          <div class="control-group"></div>
          <div class="control-group">
            <input type="email" class="input-block-level" name="email" id="inputEmail" placeholder="E-mail address" required>
          </div>
          <div class="control-group">
            <input type="password" class="input-block-level" id="inputPassword" name="pw" placeholder="Password" required>
          </div>
          <div class="form-group">
            <input type="text" id="captcha" class="input-block-level" placeholder="Please enter the five characters below."  errormsg="Please enter the five characters below." nullmsg="Please enter the five characters below." datatype="*5-5" name="verify" required>
          </div>
          <p></p>
          <div class="form-group" style="text-align:center;">
          	<img class="verifyimg reloadverify" alt="Click to switch" src="{:U('hehe')}" style="cursor:pointer;">
          </div>
          <p></p>
          <div class="Validform_checktip alert" style="display:none;"></div>
          <div class="control-group">
            <div class="span6">
              <button class="input-block-level btn btn-primary" type="submit" class="btn">
              Sign in
              </button>
            </div>
            <div class="span6"> <a class="input-block-level btn btn-success" type="submit" href="__CONTROLLER__/register">Sign up</a> </div>
          </div>
        </form>
      </div>
    </div>
    <div class="span2"></div>
  </div>
  <hr>
  <include file="Base/foot"/> </div>
<script src="__PUBLIC__/js/jquery.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script>
$(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});


    	$("form").submit(function(){
    		var self = $(this);
			self.find(".Validform_checktip").hide();
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info).show();
    				$(".reloadverify").click();
    				$("#captcha").val('');
    			}
    		}
    	});
  $(function(){
    var verifyimg = $(".verifyimg").attr("src");
      $(".reloadverify").click(function(){
          if( verifyimg.indexOf('?')>0){
              $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        });
  });
  </script>
</body>
</html>
