<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Job管理 | CPBQueue</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="travis">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<include file="Base/head"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header"><i class="icon-wrench"></i> 队列信息</li>
          <li><a href="__CONTROLLER__/index">Job管理</a></li>
          <li class="active"><a href="__CONTROLLER__/protocol">Protocol管理</a></li>
          <li><a href="__CONTROLLER__/reference">Reference管理</a></li>
          <li class="nav-header"><i class="icon-th"></i> 系统管理</li>
          <li><a href="__CONTROLLER__/system">系统设置</a></li>
          <li><a href="__CONTROLLER__/user">用户管理</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <div class="row-fluid">
        <div class="page-header">
          <h1>添加新任务</h1>
        </div>
        <form class="form-horizontal" method="post" action="__CONTROLLER__/newJob">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="name">选择Protocol</label>
              <div class="controls">
                <select class="form-control input-xlarge" name="protocol" required>
                  <volist name="prol" id="hit">
                    <option value="{$hit.id}">{$hit.name}</option>
                  </volist>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="email">起始输入文件</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="inputFile" name="inputFile" required />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="email">特殊参数</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="parameter" name="parameter" />
              </div>
            </div>
            <input type="hidden" class="input-xlarge" id="run_dir" name="run_dir" value="{:F('RUNFOLDER')}" />
            <div class="form-group">
              <label class="control-label" for="inputPassword">验证码</label>
              <div class="controls">
                <input type="text" id="inputPassword" class="form-control input-xlarge" placeholder="请输入验证码"  errormsg="Enter words below." nullmsg="Please enter security code." datatype="*5-5" name="verify" required>
              </div>
            </div>
            <div class="form-group">
              <div class="controls"> <img class="verifyimg reloadverify" alt="Click to switch" src="{:U('verify')}" style="cursor:pointer;"> </div>
              <div class="controls Validform_checktip text-warning"></div>
            </div>
            <div class="form-actions">
              <input type="submit" class="btn btn-success btn-large" value="添加" />
            </div>
          </fieldset>
        </form>
        <div class="page-header">
          <h1>任务列表</h1>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Protocol</th>
              <th>输入文件</th>
              <th>参数</th>
              <th>指定运行目录</th>
              <th>状态（执行步骤）</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <volist name="quel" id="hit">
              <tr class="pending-user">
                <td>{$hit.id}</td>
                <td>{$hit.protocol}</td>
                <td>{$hit.inputFile}</td>
                <td>{$hit.parameter}</td>
                <td>{$hit.run_dir}</td>
                <td>{$hit.status}</td>
                <td><span class="user-actions"><a href="__CONTROLLER__/delJob/job/{$hit.id}" class="label label-important">删除</a></span></td>
              </tr>
            </volist>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <include file="Base/foot"/> </div>
<script src="__PUBLIC__/js/jquery.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script>
  $(function(){
    var verifyimg = $(".verifyimg").attr("src");
      $(".reloadverify").click(function(){
          if( verifyimg.indexOf('?')>0){
              $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        });
  });
  </script>
</body>
</html>
