<form class="form-horizontal" method="post" action="__CONTROLLER__/newStepO">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="software">运行程序：</label>
      <div class="controls">
          <input type="text" class="input-xlarge" id="software" name="software" required />
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="parameter">运行参数：</label>
      <div class="controls">
      <input type="text" class="input-xlarge" id="parameter" name="parameter" />
      </div>
  </div>
<pre>包括自定义引用和预置参数。自定义引用由用户在Reference中定义，通过{RefName}调用；系统预置参数包括{InitInput}（起始输入文件），{LastOutput}（上一个文件的输出），{autoOutput}（自动命名），{job}（任务ID），{ThreadN}（伺服器CPU核心数）</pre>
  <div class="control-group">
      <label class="control-label" for="specify_output">输出文件映射：</label>
      <div class="controls">
      <input type="text" class="input-xlarge" id="specify_output" name="specify_output" />
      </div>
  </div>
<pre>输出文件映射的功能是告诉程序哪些文件是此程序的输出，记录格式为“priSAM=Aligned.out.sam;spliceJunction=SJ.out.tab;log=Log.out;”，其中priSAM等将作为自定义参数，可在运行参数中被调用。</pre>
    <div class="form-group">
      <label class="control-label" for="inputPassword">验证码</label>
      <div class="controls">
        <input type="text" id="inputPassword" class="form-control input-xlarge" placeholder="请输入验证码"  errormsg="Enter words below." nullmsg="Please enter security code." datatype="*5-5" name="verify" required="required">
      </div>
    </div>
	<p></p>
    <div class="form-group">
      <div class="controls"> <img class="verifyimg reloadverify" alt="Click to switch" src="{:U('verify')}" style="cursor:pointer;"> </div>
      <div class="controls Validform_checktip text-warning"></div>
    </div>
    <hr><input type="hidden" name="parent" value="{$id}">
    <div class="form-group" style="text-align: center;">
      <input type="submit" class="btn btn-success btn-large" value="添加" />   
    </div>
  </fieldset>
</form>
<script type="text/javascript">$(function(){
    var verifyimg = $(".verifyimg").attr("src");
      $(".reloadverify").click(function(){
          if( verifyimg.indexOf('?')>0){
              $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        });
  });</script>