<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>调用程序</th>
			<th>参数</th>
			<th>预置输出</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<volist name="stepl" id="hit">
	<tr class="pending-user">
		<td>{$hit.id}</td>
		<td>{$hit.software}</td>
		<td>{$hit.parameter}</td>
		<td>{$hit.specify_output}</td>
		<td><span class="user-actions"><a href="#" class="label label-success dels" data-sid="{$hit.id}">删除</a></span></td>
	</tr>
	</volist>
	</tbody>
</table>
<script type="text/javascript">
$("table td .dels").click(function(){
	var self = $(this);
	$.get("__CONTROLLER__/delStep/pro/"+self.attr('data-sid'), function(data){
		if(data.status){
			self.parent().parent().parent().remove();
		}
	});
    //return false;

    //function success(data){
    //	if(data.status){
    //		self.parent().remove();
    // 	}
    //}
});
</script>