<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>系统管理 | CPBQueue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="travis">

    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
	<link href="__PUBLIC__/css/site.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <include file="Base/head"/>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><i class="icon-wrench"></i> 队列信息</li>
              <li><a href="__CONTROLLER__/index">Job管理</a></li>
              <li><a href="__CONTROLLER__/protocol">Protocol管理</a></li>
              <li><a href="__CONTROLLER__/reference">Reference管理</a></li>
              <li class="nav-header"><i class="icon-th"></i> 系统管理</li>
              <li class="active"><a href="__CONTROLLER__/system">系统设置</a></li>
              <li><a href="__CONTROLLER__/user">用户管理</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          <div class="row-fluid">
            <div class="page-header">
              <h1>系统级参数设置</h1>
            </div>
            <form class="form-horizontal" method="post" action="__CONTROLLER__/setRunFolder">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="name">运行目录</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge" id="path" name="path" value="{:F('RUNFOLDER')}" required />
                  </div>
                </div>
              </fieldset>
              <div class="form-actions">
                <input type="submit" class="btn btn-success btn-large" value="更新" />
              </div>
            </form>
            <div class="page-header">
              <h1>系统运行状态管理</h1>
            </div>
            <div><a href="__CONTROLLER__/delDeadlock" class="btn btn-danger">清除运行死锁</a></div>
          </div>
        </div>
      </div>
    </div>
    <hr>

<include file="Base/foot"/> </div>

    <script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  $(function(){
    var verifyimg = $(".verifyimg").attr("src");
      $(".reloadverify").click(function(){
          if( verifyimg.indexOf('?')>0){
              $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        });
  });
    function showNewStep(recId){
      $.get("__CONTROLLER__/newStep/pro/"+recId, function(result){
        $('#newStep .modal-body').html(result)
        $('#newStep').modal();
      });
    }
    function showSteps(recId){
      $.get("__CONTROLLER__/showSteps/pro/"+recId, function(result){
        $('#steps .modal-body').html(result)
        $('#steps').modal();
      });
    }
  </script>
  </body>
</html>
