<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>用户管理 | CPBQueue</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="travis">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<include file="Base/head"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header"><i class="icon-wrench"></i> 队列信息</li>
          <li><a href="__CONTROLLER__/index">Job管理</a></li>
          <li><a href="__CONTROLLER__/protocol">Protocol管理</a></li>
          <li><a href="__CONTROLLER__/reference">Reference管理</a></li>
          <li class="nav-header"><i class="icon-th"></i> 系统管理</li>
          <li><a href="__CONTROLLER__/system">系统设置</a></li>
          <li class="active"><a href="__CONTROLLER__/user">用户管理</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <div class="row-fluid">
        <div class="page-header">
				<h1>用户管理</h1>
			</div>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>ID</th>
						<th>用户名</th>
						<th>角色</th>
						<th>状态</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
                <volist name="usl" id="hit">
				<tr class="list-users">
					<td>{$hit.id}</td>
					<td>{$hit.user}</td>
					<td><if condition="($hit.status eq 1)"><span class="label label-success">普通用户</span>
                	<elseif condition="$hit.status eq 2"/><span class="label label-warning">管理员</span>
					<elseif condition="$hit.status eq 3"/><span class="label label-important">创始人</span>
                    </if></td>
					<td><if condition="($hit.status eq 0)"><span class="label label-important">未审</span>
                    	<else /> <span class="label label-success">活跃</span>
					</if></td>
					<td>
						<div class="btn-group">
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">操作 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="__CONTROLLER__/deleteUser/toD/{$hit.id}"><i class="icon-trash"></i> 删除</a></li>
								<li class="nav-header">设置角色</li>
								<li><a href="__CONTROLLER__/asAdmin/toD/{$hit.id}"><i class="icon-lock"></i> <strong>管理员</strong></a></li>
								<li><a href="__CONTROLLER__/asNUser/toD/{$hit.id}"><i class="icon-lock"></i> <strong>普通用户</strong></a></li>
							</ul>
						</div>
					</td>
				</tr>
                </volist>
                </tbody>
			</table>
			{$page}
		  </div>
      </div>
    </div>
  </div>
  <hr>
  <include file="Base/foot"/> </div>
<script src="__PUBLIC__/js/jquery.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script>
  $(function(){
    var verifyimg = $(".verifyimg").attr("src");
      $(".reloadverify").click(function(){
          if( verifyimg.indexOf('?')>0){
              $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        });
  });
  </script>
</body>
</html>
