{% extends 'ui/base.html' %}
{% block title %}Create Protocol | CBPQueue{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="page-header">
        <h1>Create New Protocol</h1>
    </div>
    <form class="form" method="post" action=".">
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control input-xlarge" id="name" name="name" required />
        </div>
        {% csrf_token %}
        <p></p>
        <div class="controls Validform_checktip text-warning"></div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success btn-large btn-block">Add</button>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
    $("#add-protocol").addClass("active");
    $("form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data){
			if(data.status){
				Messenger().post({
					message: data.info,
					showCloseButton: true
				});
				self[0].reset();
			} else {
				Messenger().post({
					message: data.info,
					type: 'error',
					showCloseButton: true
				});
				$("#verify").val('');
			}
		}
    });
{% endblock %}