{% extends 'ui/base.html' %}
{% block title %}Create Protocol | BioQueue{% endblock %}
{% block content %}
<div class="page-header">
    <h1>New Protocol</h1>
</div>
<div class="row-fluid">
    <div class="accordion" id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" id="importHeading">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#importCollapse" aria-expanded="false"
                   aria-controls="importCollapse">
                    <i class="fas fa-file-import"></i> Import a Protocol
                </button>
                </h2>
            </div>
            <div id="importCollapse" class="collapse" role="tabpanel" aria-labelledby="importHeading" data-parent="#accordion" >
                <div class="card-body">
                    <h4>To import a protocol</h4>
                    <p>You can fetch the procotol from BioQueue Open Platform by providing the ID of the protocol.</p>
                    <form class="form" method="post" action="{% url 'ui:import_protocol_by_fetch' %}" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label" for="name">Protocol ID in BioQueue Open Platform</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-xlarge" id="uid" name="uid" required />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" onclick="importProtocolByFetch(this);">Import</button>
                                    </div>
                                </div>
                                <small class="form-text text-muted">For example, 01269439-28F0-F1BD-3B4A-38604657DBD3</small>
                                <div class="ref-hints" style="display: none;">
                                    <a class="close" onclick="$(this).parent().hide();" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                    <div class="ref-hints-container"></div>
                                </div>
                            </div>
                            {% csrf_token %}
                        </fieldset>
                    </form>
                    <h4>Alternatively</h4>
                    <p>You can upload a protocol file to import it.</p>
                    <form class="form" method="post" action="{% url 'ui:import_protocol' %}" enctype="multipart/form-data">
                        <fieldset>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="protocol_list" name="job_list">
                                    <label class="custom-file-label" for="protocol_list">Protocol file</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary" >Upload and import</button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="createHeading">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" role="button" data-toggle="collapse" href="#createCollapse" aria-expanded="true" aria-controls="createCollapse"><i class="fas fa-pencil-alt"></i> New Protocol</button>
                </h2>
            </div>
            <div id="createCollapse" class="collapse show" aria-labelledby="createHeading" data-parent="#accordion">
                <div class="card-body">
                    <form class="form" id="create-protocol-form" method="post" action=".">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control input-xlarge" id="name" name="name" maxlength="500" required />
                        </div>
                        <h4>Steps</h4>
                        <div class="step-container">
                            <div class="protocol-step">
                                {% include 'ui/step_atom.html' %}
                                <hr>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-outline-secondary" onclick="addStep();"><i class="fas fa-plus-circle"></i> Add step</a>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Descriptions about this protocol, including input files parameters" name="description" required></textarea>
                        </div>
                        {% csrf_token %}
                        <p></p>
                        <div class="controls Validform_checktip text-warning"></div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn-large btn-block">Create Protocol</button>
                        </div>
                    </form>
                    {% include 'ui/variant_hint.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    var before_software = "";
    var before_uid = "";
    $("#add-protocol").addClass("active");
    $(".protocol-nav").addClass("active");
    $(document).ready(function(){
        var oTextbox = new AutoSuggestControl("parameter");
    });
    $("#create-protocol-form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data){
			if(data.status){
                post_msg(data.info);
				self[0].reset();
			} else {
                post_msg(data.info, 1);
				$("#verify").val('');
			}
		}
    });
    function fetchKB(obj){
        var self = $(obj);
        var this_software = self.parent().parent().children("#software").val();
        var hint_panel = self.parent().parent().parent().children(".hints");
        if (before_software != this_software){
            before_software = this_software;
            self.attr("disabled", true);
            var api_bus = "{{ api_bus }}/Kb/findSoftwareUsage";
            var opera_tag = 0;
            var old_ie_tag = 0;
            if(window.opera){
                var version_arr = opera.version().split(".");
                if (version_arr [0] <= 12){
                    opera_tag = 1;
                }
            }
            if(document.all && !window.atob){
                old_ie_tag = 1;
            }
            if (old_ie_tag || opera_tag){
                api_bus = "{% url 'ui:query_usage' %}";
                var csrftoken = $.cookie('csrftoken');
                $.ajaxSetup({
                    beforeSend: function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                });
            }
            $.post(api_bus, {software: this_software}, function(data){
                if (data.status){
                    hint_panel.children('.hints-container').html(data.content);
                    hint_panel.show();
                }
                self.attr("disabled", false);
            }, 'json').error(function(){
                self.attr("disabled", false);
            });
        }else{
            hint_panel.show();
        }

    }
    function importProtocolByFetch(obj){
        var self = $(obj);
        var this_uid = self.parent().parent().children("#uid").val();
        var hint_panel = self.parent().parent().parent().children(".ref-hints");
        if (before_uid != this_uid){
            before_uid = this_uid;
            self.attr("disabled", true);
            var csrftoken = $.cookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
            $.post('{% url 'ui:import_protocol_by_fetch' %}', {uid: this_uid}, function(data){
                if (data.status){
                    hint_panel.children('.ref-hints-container').html(data.info);
                    hint_panel.show();
                    $("#uid").val("");
                }else{
                    Messenger().post({
                        message: data.info,
                        type: 'error',
                        showCloseButton: true
                    });
                }
                self.attr("disabled", false);
            }, 'json').error(function(){
                self.attr("disabled", false);
            });
        }else{
            hint_panel.show();
        }

    }
    function addStep(){
        var new_id = "parameter"+$(".parameter-ac").length
        new_step = $(".protocol-step:eq(0)").clone();
        new_step.find(":input").each(function(i){
            $(this).val("");
        });
        new_step.find(".parameter-ac").each(function(i){
          $(this).attr("id", new_id);
        });
        new_step.appendTo(".step-container");
        var oTextbox = new AutoSuggestControl(new_id);
    }
{% endblock %}
