<form class="form" method="post" action="{% url 'ui:add_step' %}">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="software">Software*:</label>
            <div class="controls">
                <input type="text" class="input-block-level" id="software" name="software" required />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="parameter">Parameters*:</label>
            <div class="controls">
                <input type="text" class="input-block-level" id="parameter" name="parameter" />
            </div>
        </div>
        <hr />
        <input type="hidden" name="parent" value="{{ parent }}">
        <input type="hidden" name="csrfmiddlewaretoken" id="csrf">
        <div class="form-group" style="text-align: center;">
            <button type="submit" class="btn btn-success btn-large">Add</button>
        </div>
    </fieldset>
</form>
<pre>You can use varibles or references when defining the parameters. Below are some of the system level variable:<ul><li>InitInput: The initial input files which maps to files you provide when you create a job.</li><li>LastOutput: Output files of last step.</li><li>LastOutputN: The n-th output file of last step (in alphabetical order).</li><li>job: job ID.</li><li>ThreadN: The number of CPUs in the running node.</li></ul>All varibles should be surrounded by curly-braces, like {ThreadN}.</pre>
<script>
    $("#csrf").val(csrftoken);
    $("form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data){
			if(data.status){
				Messenger().post({
					message: data.info,
					showCloseButton: true
				});
				$('#newStep').modal('hide');
			} else {
				Messenger().post({
					message: data.info,
					type: 'error',
					showCloseButton: true
				});
			}
		}
    });
</script>