{% extends 'ui/base.html' %}
{% block title %}Create Protocol | BioQueue{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="importHeading">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#importCollapse" aria-expanded="false" aria-controls="importCollapse">Import a Protocol</a>
                </h4>
            </div>
            <div id="importCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="importHeading">
                <div class="panel-body">
                    <h4>To import a protocol</h4>
                    <p>You can fetch the procotol from BioQueue Open Platform by providing the ID of the protocol.</p>
                    <form class="form" method="post" action="{% url 'ui:import_protocol_by_fetch' %}" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label" for="name">Protocol ID in BioQueue Open Platform</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-xlarge" id="uid" name="uid" required />
                                    <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="importProtocolByFetch(this);">Import</button></span>
                                </div>
                                <p class="help-block">For example, 01269439-28F0-F1BD-3B4A-38604657DBD3</p>
                                <div class="ref-hints" style="display: none;">
                                    <a class="close" onclick="$(this).parent().hide();" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                    <div class="ref-hints-container"></div>
                                </div>
                            </div>
                            {% csrf_token %}
                        </fieldset>
                    </form>
                    <h4>Alternatively</h4>
                    <p>You can upload a protocol file to import it.</p>
                    <form class="form" method="post" action="{% url 'ui:import_protocol' %}" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group">
                                <label for="parameter">Protocol file</label>
                                <div class="input-group">
                                    <input type="file" id="protocol_list" name="job_list">
                                    <span class="input-group-btn"><button type="submit" class="btn btn-default" >Upload and import</button></span>
                                </div>
                            </div>
                            {% csrf_token %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="createHeading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#createCollapse" aria-expanded="true" aria-controls="createCollapse">Create New Protocol</a>
                </h4>
            </div>
            <div id="createCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="createHeading">
                <div class="panel-body">
                    <form class="form" id="create-protocol-form" method="post" action=".">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control input-xlarge" id="name" name="name" maxlength="500" required />
                        </div>
                        <h3>Steps</h3>
                        <div class="step-container">
                            <div class="protocol-step">
                                <div class="form-group">
                                    <label class="control-label" for="name">Software</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-xlarge" id="software" name="software" required />
                                        <span class="input-group-btn"><button type="button" onclick="fetchKB(this);" class="btn btn-default">How to use the software?</button></span>
                                    </div>
                                    <div class="hints" style="display: none;">
                                        <a class="close" onclick="$(this).parent().hide();" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                        <div class="hints-container"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Parameter</label>
                                    <input type="text" class="form-control input-xlarge parameter-ac" id="parameter" name="parameter" required />
                                </div>
                                <hr>
                            </div>
                        </div>
                        <a class="btn btn-default" onclick="addStep();"><i class="glyphicon glyphicon-plus"></i>Add step</a>
                        {% csrf_token %}
                        <p></p>
                        <div class="controls Validform_checktip text-warning"></div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn-large btn-block">Create Protocol</button>
                        </div>
                    </form>
                    {% include 'ui/variant_hint.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    var before_software = "";
    var before_uid = "";
    $("#add-protocol").addClass("active");
    $(".protocol-nav").addClass("active");
    $(document).ready(function(){
        var oTextbox = new AutoSuggestControl("parameter");
    });
    $("#create-protocol-form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data){
			if(data.status){
				Messenger().post({
					message: data.info,
					showCloseButton: true
				});
				self[0].reset();
			} else {
				Messenger().post({
					message: data.info,
					type: 'error',
					showCloseButton: true
				});
				$("#verify").val('');
			}
		}
    });
    function fetchKB(obj){
        var self = $(obj);
        var this_software = self.parent().parent().children("#software").val();
        var hint_panel = self.parent().parent().parent().children(".hints");
        if (before_software != this_software){
            before_software = this_software;
            self.attr("disabled", true);
            var api_bus = "{{ api_bus }}/Kb/findSoftwareUsage";
            var opera_tag = 0;
            var old_ie_tag = 0;
            if(window.opera){
                var version_arr = opera.version().split(".");
                if (version_arr [0] <= 12){
                    opera_tag = 1;
                }
            }
            if(document.all && !window.atob){
                old_ie_tag = 1;
            }
            if (old_ie_tag || opera_tag){
                api_bus = "{% url 'ui:query_usage' %}";
                var csrftoken = $.cookie('csrftoken');
                $.ajaxSetup({
                    beforeSend: function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                });
            }
            $.post(api_bus, {software: this_software}, function(data){
                if (data.status){
                    hint_panel.children('.hints-container').html(data.content);
                    hint_panel.show();
                }
                self.attr("disabled", false);
            }, 'json').error(function(){
                self.attr("disabled", false);
            });
        }else{
            hint_panel.show();
        }

    }
    function importProtocolByFetch(obj){
        var self = $(obj);
        var this_uid = self.parent().parent().children("#uid").val();
        var hint_panel = self.parent().parent().parent().children(".ref-hints");
        if (before_uid != this_uid){
            before_uid = this_uid;
            self.attr("disabled", true);
            var csrftoken = $.cookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
            $.post('{% url 'ui:import_protocol_by_fetch' %}', {uid: this_uid}, function(data){
                if (data.status){
                    hint_panel.children('.ref-hints-container').html(data.info);
                    hint_panel.show();
                    $("#uid").val("");
                }else{
                    Messenger().post({
                        message: data.info,
                        type: 'error',
                        showCloseButton: true
                    });
                }
                self.attr("disabled", false);
            }, 'json').error(function(){
                self.attr("disabled", false);
            });
        }else{
            hint_panel.show();
        }

    }
    function addStep(){
        var new_id = "parameter"+$(".parameter-ac").length
        new_step = $(".protocol-step:eq(0)").clone();
        new_step.find(":input").each(function(i){
            $(this).val("");
        });
        new_step.find(".parameter-ac").each(function(i){
          $(this).attr("id", new_id);
        });
        new_step.appendTo(".step-container");
        var oTextbox = new AutoSuggestControl(new_id);
    }
{% endblock %}
