{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Dashboard | BioQueue</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="{% static "ui/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "ui/css/site.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "ui/fontawesome/css/all.min.css" %}" rel="stylesheet">
</head>
<body>
{% include 'ui/navigation.html' %}
<div class="container-fluid">
	<nav style="margin-top: 4rem;" aria-label="breadcrumb">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="#">Index</a></li>
		  <li class="breadcrumb-item active">Dashboard</li>
		</ol>
	</nav>
</div>
<div class="container">
	<div class="row text-white text-decoration-none">
		<div class="col-md-2 v4-metro v4-metro-orange d-flex align-items-center">
			<a data-original-title="" href="#cp" role="button" data-toggle="modal" data-target="#cp">
				<div class="text-center">
					<i class="fas fa-key fa-4x"></i>
				</div>
				<div class="col1">Change password</div>
		    </a>
		</div>
		<div class="col-md-2 v4-metro v4-metro-deep-terques d-flex align-items-center">
			<a data-original-title="" href="{% url 'ui:add_job' %}">
				<div class="text-center">
		        <i class="fas fa-plus-circle fa-4x"></i>
				</div>
		        <div class="col1">Create new job</div>
		    </a>
		</div>
		<div class="col-md-3 v4-metro v4-metro-yellow d-flex align-items-center">
			<a data-original-title="" href="{% url 'ui:query_job' %}">
		        <div class="text-center"><i class="fas fa-eye fa-4x"></i></div>
		        <div class="status">Job status (running: {{ running_jobs }})</div>
		    </a>
		</div>
		<div class="col-md-2 v4-metro v4-metro-green d-flex align-items-center">
			<a data-original-title="" href="{% url 'ui:show_workspace' %}">
		        <div class="text-center"><i class="fas fa-folder-open fa-4x"></i></div>
		        <div class="status">Sample pool</div>
		    </a>
		</div>
		<div class="col-md-2 v4-metro v4-metro-red d-flex align-items-center">
			<a data-original-title="" href="https://open.bioqueue.org">
				<div class="text-center"><i class="fas fa-project-diagram fa-4x"></i></div>
		        <div class="status">Open platform</div>
		    </a>
		</div>
		<div class="col-md-2 v4-metro v4-metro-blue d-flex align-items-center">
			<a data-original-title="" href="{% url 'ui:create_protocol' %}">
		        <div class="text-center"><i class="fas fa-clipboard fa-4x"></i></div>
		        <div class="status">Create protocol</div>
		    </a>
		</div>
		<div class="col-md-3 v4-metro v4-metro-purple d-flex align-items-center">
			<a data-original-title="" href="{% url 'ui:query_protocol' %}">
		        <div class="text-center"><i class="fas fa-edit fa-4x"></i></div>
		        <div class="status">Edit protocol (modify steps)</div>
		    </a>
		</div>
		<div class="col-md-2 v4-metro v4-metro-olive d-flex align-items-center">
			<a data-original-title="" href="{% url 'ui:manage_simple_models' 'create' 'Reference' %}">
				<div class="text-center"><i class="fas fa-book fa-4x"></i></div>
		        <div class="status">Manage reference</div>
		    </a>
		</div>
		<div class="col-md-2 v4-metro v4-metro-brown d-flex align-items-center">
			<a data-original-title="" href="{% url 'ui:settings' %}">
		        <div class="text-center"><i class="fas fa-cogs fa-4x"></i></div>
		        <div class="status">{% if user.is_staff %}<i class="fas fa-lock-open"></i>{% else %}<i class="fas fa-lock"></i>{% endif %} Settings</div>
		    </a>
		</div>
		<div class="col-md-2 v4-metro v4-metro-grey d-flex align-items-center">
			<a data-original-title="" href="/admin/auth/user">
		        <div class="text-center"><i class="fas fa-users fa-4x"></i></div>
		        <div class="status">{% if user.is_staff %}<i class="fas fa-lock-open"></i>{% else %}<i class="fas fa-lock"></i>{% endif %} Users</div>
		    </a>
		</div>
	</div>
</div>
<hr/>
{% include 'ui/foot.html' %}
<div class="modal fade" id="cp" tabindex="-1" role="dialog" aria-labelledby="cyp">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="cyp">Change your password</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'accounts:password_change' %}" method="post">
					<div class="Validform_checktip alert" style="display: none;"></div>
					<div class="form-group">
						<label>Old Password</label>
						<input type="password" class="form-control" name="old_password" id="old_password" placeholder="Old password" required>
					</div>
					<div class="form-group">
						<label>New Password</label>
						<input type="password" class="form-control" name="new_password_1" id="new_password_1" placeholder="New password" required>
					</div>
					<div class="form-group">
						<label>Enter Your New Password Again</label>
						<input type="password" class="form-control" name="new_password_2" id="new_password_2" placeholder="Type your new password again" required>
					</div>
					{% csrf_token %}
					<div><button type="submit" class="btn btn-info">Change password</button></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
	</div>
<script src="{% static "ui/js/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "ui/js/bootstrap.bundle.min.js" %}"></script>
<script>
$("form").submit(function(){
    var self = $(this);
    self.find(".Validform_checktip").hide();
    $.post(self.attr("action"), self.serialize(), success, "json");
    return false;

    function success(data){
        if(data.status){
            window.location.href = '{% url 'accounts:login' %}';
        } else {
            self.find(".Validform_checktip").removeClass('alert-success').text(data.info).show();
        }
    }
});
</script>
</body>
</html>