{% extends "ui/base.html" %}
{% block title %}Install Reference | BioQueue{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Install References</h1>
</div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="single">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" href="#single-job" aria-expanded="true" aria-controls="single-job">
                        <i class="fas fa-cloud"></i> Search BioQueue's Repository
                    </button>
                </h5>
            </div>
            <div id="single-job" class="collapse show" role="tabpanel" aria-labelledby="single" data-parent="#accordion">
                <div class="card-body">
                    <form class="form" id="fetch-ref-form" style="margin-top:9px; margin-bottom:0;">
                        <div class="form-group">
                            <label for="parameter">Reference Name </label>
                            <input type="text" class="form-control" id="ref-name" name="name" />
                        </div>
                        <div class="form-group" style="margin-bottom: 9px;">
                            <button type="submit" class="btn btn-success btn-large btn-block">Search</button>
                        </div>
                    {% csrf_token %}
                    </form>
                    <div class="search-result" style="display: none;">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Reference Name</th>
                                    <th>Format</th>
                                    <th>Description</th>
                                    <th>Need Compile</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="repo-tbody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="batch">
                <h5 class="mb-0">
                    <button class="btn" class="collapsed" data-toggle="collapse" href="#batch-job" aria-expanded="false" aria-controls="batch-job">
                        <i class="fas fa-heart"></i> Contribute to the Repository
                    </button>
                </h5>
            </div>
            <div id="batch-job" class="collapse" role="tabpanel" aria-labelledby="batch" data-parent="#accordion">
                <div class="card-body">
                    <form class="form" id="share-ref-form" style="margin-top:9px; margin-bottom:0;">
                        <div class="form-group">
                            <label for="name">Reference Name </label>
                            <input type="text" class="form-control" id="name" name="name" required/>
                        </div>
                        <div class="form-group">
                            <label for="name">Format </label>
                            <input type="text" class="form-control" id="format" name="format" required/>
                            <p class="help-block"><i>e.g. </i>fasta, vcf, gtf, bed.</p>
                        </div>
                        <div class="form-group">
                            <label for="description">Description </label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="compression">Compression method </label>
                            <input type="text" class="form-control" id="compression" name="compression" required/>
                            <p class="help-block"><i>e.g. </i>targz, tarbz2, zip. Enter "n" for uncompressed plain file.</p>
                        </div>
                        <div class="form-group">
                            <label for="url">URL </label>
                            <input type="text" class="form-control" id="url" name="url" required/>
                        </div>
                        <div class="form-group">
                            <label for="how_get">How to get? </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="how_get" id="how_get_d" value="download"> Download
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="how_get" id="how_get_g" value="git"> git
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="how_get" id="how_get_s" value="svn"> svn
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="target_files">Target files (separated by semi-colons) </label>
                            <input type="text" class="form-control" id="target_files" name="target_files" />
                        </div>
                        <h3>Operation after decompression <a class="btn btn-outline-secondary" onclick="add_step();"><i class="fas fa-plus-circle"></i> Add step</a></h3>
                        <div class="step-container">
                            <div class="protocol-step">
                                <div class="form-group">
                                    <label class="control-label" for="software">Software</label>
                                    <input type="text" class="form-control input-xlarge" id="software" name="software" required />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="parameter">Parameter</label>
                                    <input type="text" class="form-control input-xlarge parameter-ac" id="parameter" name="parameter" required />
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 9px;">
                            <button type="button" class="btn btn-success btn-large btn-block" onclick="share_ref()">Share</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
$("#import-ref").addClass("active");
$(".scaffold-nav").addClass("active");
var csrftoken = $.cookie('csrftoken');
function install_tool(obj){
    var self = $(obj);
    $.post("#", {tool: self.attr('data-json'), csrfmiddlewaretoken: csrftoken}, function(result){
        if(result.status){
            Messenger().post({
                message: result.info,
                showCloseButton: true
            });
        }else{
            Messenger().post({
                message: result.info,
                type: 'error',
                showCloseButton: true
            });
        }
    });
}
function parse_ref(file_name){
    var ref_bus = '{{ ta }}';
    $.getJSON(ref_bus.replace('{query}', file_name),function(result){
var new_row = "<tr><td>"+result["name"]+"</td><td>"+result["format"]+"</td><td>"+result["description"]+"</td>";
        if (result["software"]!=""){
            new_row += "<td class='warning'>Need Compile</td>";
        }else{
            new_row += "<td class='success'>Directly Use</td>";
        }
        new_row += "<td><button class='btn btn-default' onclick='install_tool(this);' data-json='"+JSON.stringify(result)+"'><i class='glyphicon glyphicon-download-alt'></i></button></td></tr>";
        $("#repo-tbody").append(new_row);
    });
}
$("#fetch-ref-form").submit(function(){
    $("#repo-tbody").html('');
    $(".search-result").show("slow");
    var api_bus = '{{ ab }}';
    $.get(api_bus.replace('{query}', $("#ref-name").val()),function(result){
        if(result.total_count>=1){
            for(var key in result.items){
                parse_ref(result.items[key].name);
            }
        }else{
            Messenger().post({
                message: "No record",
                type: 'error',
                showCloseButton: true
            });
        }
    });
    return false;
});
function build_json(){
    var o = {};
    var a = $("#share-ref-form").serializeArray();
    $.each(a, function () {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return JSON.stringify(o);
}
function share_ref(){
    var filename=$("#name").val()+"-"+$("#format").val();
    var eleLink = document.createElement('a');
    eleLink.download = filename;
    eleLink.style.display = 'none';
    // convert string to blob
    content = build_json();
    var blob = new Blob([content]);
    eleLink.href = URL.createObjectURL(blob);
    // activate
    document.body.appendChild(eleLink);
    eleLink.click();
    // remove
    document.body.removeChild(eleLink);
}
function add_step(){
    var new_id = "parameter"+$(".parameter-ac").length
    new_step = $(".protocol-step:eq(0)").clone();
    new_step.find(":input").each(function(i){
        $(this).val("");
    });
    new_step.find(".parameter-ac").each(function(i){
        $(this).attr("id", new_id);
    });
    new_step.appendTo(".step-container");
}
{% endblock %}