{% extends "ui/base.html" %}
{% block title %}Install Reference | BioQueue{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Install References</h1>
</div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="single">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#single-job" aria-expanded="true" aria-controls="single-job">
                        <i class="glyphicon glyphicon-cloud"></i> Search BioQueue's Repository
                    </a>
                </h4>
            </div>
            <div id="single-job" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="single">
                <div class="panel-body">
                    <form class="form" id="fetch-tool-form" style="margin-top:9px; margin-bottom:0;">
                        <div class="form-group">
                            <label for="parameter">Reference Name </label>
                            <input type="text" class="form-control" id="software" name="software" />
                        </div>
                        <div class="form-group" style="margin-bottom: 9px;">
                            <button type="submit" class="btn btn-success btn-large btn-block">Search</button>
                        </div>
                    {% csrf_token %}
                    </form>
                    <div class="search-result" style="display: none;">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Reference Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="repo-tbody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="batch">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#batch-job" aria-expanded="false" aria-controls="batch-job">
                        <i class="glyphicon glyphicon-heart"></i> Contribute to the Repository
                    </a>
                </h4>
            </div>
            <div id="batch-job" class="panel-collapse collapse" role="tabpanel" aria-labelledby="batch">
                <div class="panel-body">
                    <form class="form" id="share-tool-form" style="margin-top:9px; margin-bottom:0;">
                        <div class="form-group">
                            <label for="software">Software </label>
                            <input type="text" class="form-control" id="sftw" name="software" />
                        </div>
                        <div class="form-group">
                            <label for="version">Version </label>
                            <input type="text" class="form-control" id="version" name="version" />
                        </div>
                        <div class="form-group">
                            <label for="how_get">Tool type </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="is_binary" id="pbb" value="y"> Pre-build binary
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_binary" id="sc" value="n"> Source code
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="os">OS </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_l86" value="Linux_x86"> Linux_x86
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_l64" value="Linux_x64"> Linux_x86
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_l86_l64" value="Linux_x86_x64"> Linux_x86_x64
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_osx" value="OSX_x86_x64"> MacOS_x86_x64
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_w86" value="Windows_x86"> Windows_x86
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_w64" value="Windows_x64"> Windows_x64
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_w86_w64" value="Windows_x86_x64"> Windows_x86_x64
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="os" id="os_all" value="-"> All
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="version">Compression method </label>
                            <input type="text" class="form-control" id="compression" name="compression" />
                        </div>
                        <div class="form-group">
                            <label for="compile_method">Compile method </label>
                            <input type="text" class="form-control" id="compile_method" name="compile_method" />
                        </div>
                        <div class="form-group">
                            <label for="compile_method">URL </label>
                            <input type="text" class="form-control" id="url" name="url" />
                        </div>
                        <div class="form-group">
                            <label for="how_get">How to get? </label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="how_get" id="how_get_d" value="download"> Download
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="how_get" id="how_get_g" value="git"> git
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="how_get" id="how_get_s" value="svn"> svn
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="compile_method">Output folder </label>
                            <input type="text" class="form-control" id="sub_folder" name="sub_folder" />
                        </div>
                        <div class="form-group">
                            <label for="compile_method">Compiled files (separated by semi-colons) </label>
                            <input type="text" class="form-control" id="compile_targets" name="compile_targets" />
                        </div>
                        <div class="form-group" style="margin-bottom: 9px;">
                            <button type="button" class="btn btn-success btn-large btn-block" onclick="share_tool()">Share</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
var csrftoken = $.cookie('csrftoken');
function install_tool(obj){
    var self = $(obj);
    $.post("#", {tool: self.attr('data-json'), csrfmiddlewaretoken: csrftoken}, function(result){
        if(result.status){
            Messenger().post({
                message: result.info,
                showCloseButton: true
            });
        }else{
            Messenger().post({
                message: result.info,
                type: 'error',
                showCloseButton: true
            });
        }
    });
}
function parse_tool(file_name){
    var ref_bus = '{{ ta }}';
    $.getJSON(ref_bus.replace('{query}', file_name),function(result){
        var new_row = "<tr><td>"+result["software"]+"</td><td>"+result["version"]+"</td>";
        if (result["is_binary"]=="n"){
            new_row += "<td class='warning'>Need Compile</td>";
        }else{
            new_row += "<td class='success'>Directly Use</td>";
        }
        new_row += "<td>"+result["os"]+"</td><td><button class='btn btn-default' onclick='install_tool(this);' data-json='"+JSON.stringify(result)+"'><i class='glyphicon glyphicon-download-alt'></i></button></td></tr>";
        $("#repo-tbody").append(new_row);
    });
}
$("#fetch-tool-form").submit(function(){
    $("#repo-tbody").html('');
    $(".search-result").show("slow");
    var api_bus = '{{ ab }}';
    $.get(api_bus.replace('{query}', $("#software").val()),function(result){
        if(result.total_count>=1){
            for(var key in result.items){
                parse_tool(result.items[key].name);
            }
        }else{
            Messenger().post({
                message: "No record",
                type: 'error',
                showCloseButton: true
            });
        }
    });
    return false;
});
function build_json(){
    var o = {};
    var a = $("#share-tool-form").serializeArray();
    $.each(a, function () {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return JSON.stringify(o);
}
function share_tool(){
    if($("input[name='is_binary']:checked").val()=="n"){
        filename=$("#sftw").val()+"-"+$("#version").val()+"-source_code"
    }else{
        filename=$("#sftw").val()+"-"+$("#version").val()+"-"+$("input[name='os']:checked").val();
    }
    var eleLink = document.createElement('a');
    eleLink.download = filename;
    eleLink.style.display = 'none';
    // convert string to blob
    content = build_json();
    var blob = new Blob([content]);
    eleLink.href = URL.createObjectURL(blob);
    // activate
    document.body.appendChild(eleLink);
    eleLink.click();
    // remove
    document.body.removeChild(eleLink);
}
{% endblock %}