{% extends 'ui/base.html' %}
{% block title %}Protocol | BioQueue{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="page-header">
        <h1>Protocol List</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="protocolList">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Protocol</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for protocol in protocol_list %}
                        <tr class="protocol-rows {% if protocol.user is None %}table-success{% endif %}" id="protocolRow{{ protocol.id }}" title="{% if protocol.user is None %}Shared protocol{% endif %}">
                                <td>{{ protocol.name }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Operations available">
                                        <button type="button" class="btn btn-outline-secondary" onclick="showSteps({{ protocol.id }});" title="{% if protocol.user is None or request.user.is_staff %}Edit this protocol{% else %}View steps in this protocol{% endif %}"><i class="fas fa-list-ol"></i></button>
                                        {% if protocol.user is not None or request.user.is_staff %}
                                        <button type="button" class="btn btn-outline-secondary" onclick="showNewStep({{ protocol.id }});" title="Add a new step to this protocol"><i class="fas fa-plus-square"></i></button>
                                        {% endif %}
                                        {% if protocol.user is not None or request.user.is_staff %}
                                        <button type="button" data-target="{% url 'ui:delete_protocol' %}" data-id="{{ protocol.id }}" class="btn btn-outline-secondary" onclick="delProtocol(this);" title="Delete this protocol"><i class="fas fa-trash-alt"></i></button>
                                        {% endif %}
                                        {% if protocol.user is not None or request.user.is_staff %}
                                        <button type="button" class="btn btn-outline-secondary" data-pid="{$hit.id}" onclick="showShare({{ protocol.id }});" title="Share this protocol"><i class="fas fa-share-alt-square"></i></button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-8" id="stepsContainer" style="display:none;"></div>
        </div>
    </div>

    <nav aria-label="Page navigation" class="mx-auto">
        <ul class="pagination justify-content-center">
            {% if protocol_list.has_previous %}
            <li class="page-item">
                <a href="?page={{ protocol_list.previous_page_number }}" aria-label="Previous" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">
                    <span aria-hidden="true">Page {{ protocol_list.number }} of {{ protocol_list.paginator.num_pages }}</span>
                </span>
            </li>
            {% if protocol_list.has_next %}
            <li class="page-item">
                <a href="?page={{ protocol_list.next_page_number }}" aria-label="Next" class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<div class="modal fade" id="newStep" tabindex="-1" role="dialog" aria-labelledby="newStep">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nsh">Add New Step</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form" method="post" id="new-step-form" action="{% url 'ui:add_step' %}">
                    {% include 'ui/step_atom.html' %}
                    <div class="form-group">
                        <label for="insert_to">Insert to: (0 means the first step, -1 means the last step)</label>
                        <input type="number" class="form-control" id="insert_to" name="insert_to" value="-1"/>
                    </div>
                    <hr />
                    <input type="hidden" name="parent" id="step-parent">
                    <div class="form-group" style="text-align: center;">
                        <button type="submit" class="btn btn-success btn-large">Add</button>
                    </div>
                </form>
                {% include 'ui/variant_hint.html' %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ml" tabindex="-1" role="dialog" aria-labelledby="ml">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="mlh">Resource usage</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
      <div class="modal-body"> </div>
    </div>
  </div>
</div>
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="share">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="share-head">Share your protocols with others</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3>Share within BioQueue</h3>
                <form class="form" method="post" action="{% url 'ui:share_with_peer' %}">
                    <div class="form-group">
                        <label>Username of the peer/project that you want to share the protocol with</label>
                        <input type="text" id="peer" name="peer" class="form-control" placeholder="Enter peer's username here" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="pro" name="pro">
                        <small class="form-text text-muted">You can only share your protocol with one peer at a time.</small>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Share with a peer</button>
                </form>
                <hr>
                <h3>Share with public</h3>
                <a class="btn btn-success btn-block" id="upload-protocol-link" onclick="uploadProtocol(this);">Upload to BioQueue Open Platform</a>
                <hr>
                <h3>Or</h3>
                <p>
                    You can click the following button you can build a flattened protocol file which can be uploaded to <a href="https://www.bioqueue.org" target="_blank">our open platform</a> or any other place on the Internet. And other people can use the import function to cite your protocol.
                </p>
                <a class="btn btn-success btn-block" id="export-protocol-link" href="">Build a sharable protocol</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    $(".protocol-nav").addClass("active");
    var before_software = "";
    $("#edit-protocol").addClass("active");
    $("#force_local_hit").popover();
    var csrftoken = $.cookie('csrftoken');
    $.ajaxSetup({
        beforeSend: function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    });
    var oTextbox = new AutoSuggestControl("parameter");
    $("form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data){
			if(data.status){
                post_msg(data.info);
                self[0].reset();
                if (self.attr('id') == 'new-step-form'){
                    showSteps($("#step-parent").val());
                    $('#newStep').modal('hide');
                }
			} else {
				post_msg(data.info, 1);
			}
		}
    });
    function delProtocol(obj){
        let self = $(obj);
        generic_get(obj, false);
        $("#protocolRow"+self.data("id")).hide("slow");
        $("#stepsContainer").html("");
        $("#protocolList").removeClass("col-4").addClass("col-12");
        $("#stepsContainer").hide();
	}
    function showML(obj){
        let self = $(obj);
        $.get('{% url 'ui:get_learning_result' %}', {stephash: self.attr('data-hash')}, function(data){
            $('#ml .modal-body').html(data.info);
            $('#ml').modal();
        });
    }
    function showVC(obj){
        let self = $(obj);
        $.get('{% url 'ui:get_version_check' %}', {id: self.attr('data-id')}, function(data){
            $('#ml .modal-body').html(data.info);
            $('#ml').modal();
        });
    }
    function showNewStep(recId){
        $('#newStep #step-parent').val(recId);
        $('#newStep .modal-body').html();
        $('#newStep').modal();
    }
    function showShare(proId){
        $('#share #pro').val(proId);
        $('#upload-protocol-link').attr("data-pid", proId);
        $('#export-protocol-link').attr("href", "/ui/export-protocol?id="+proId);
        $('#share').modal();
    }
    function uploadProtocol(obj){
        var self = $(obj);
        $.get('{% url 'ui:upload_protocol' %}', {id: self.attr('data-pid')}, function(data){
            if (data.status){
                post_msg(data.info);
            }else{
                post_msg(data.info, 1);
            }
        });
    }
    function showSteps(recId){
        $(".btn").attr("disabled", true);
        $('#stepsContainer').html('');
        $.post("{% url 'ui:show_step' %}", {parent: recId}, function(data){
            if(data.status){
                if ($('#stepsContainer').css("display") != 'none'){
                    $('#stepsContainer').hide("fast");
                }
                $(".protocol-rows").removeClass("table-warning");
                $("#protocolRow"+recId).addClass("table-warning");
                $("#stepsContainer").html(data.info);
                $("#protocolList").removeClass("col-12");
                $("#protocolList").addClass("col-4", {duration:1000});
                $("#stepsContainer").show("slow");
                $("html,body").animate({scrollTop:$("#protocolDescription").offset().top-100},1000)
		    }else{
                post_msg(data.info, 1);
            };
        });
        $(".btn").attr("disabled", false);
    }
    function fetchKB(obj){
        var self = $(obj);
        var this_software = self.parent().parent().children("#software").val();
        //self.parent().parent().parent().parent()
        var hint_panel = $("#new-step-form").children(".hints");
        if (before_software != this_software){
            before_software = this_software;
            self.attr("disabled", true);
            var api_bus = "{% url 'ui:query_usage' %}";
            $.post(api_bus, {software: this_software}, function(data){
                if (data.status){
                    hint_panel.children('.hints-container').html(data.content);
                    hint_panel.show();
                }
                self.attr("disabled", false);
            }, 'json').error(function(){
                self.attr("disabled", false);
            });
        }else{
            hint_panel.show();
        }
    }
{% endblock %}
