{% extends 'ui/base.html' %}
{% block title %}Reference | BioQueue{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="page-header">
        <h1>New Reference</h1>
    </div>
    <form class="form" method="post" action="#">
        <div class="form-group">
            <label class="control-label" for="name">Reference Name</label>
            <input type="text" class="form-control" id="name" name="name" required />
        </div>
        <div class="form-group">
            <label class="control-label" for="path">Reference Value</label>
            <input type="text" class="form-control" id="path" name="path" maxlength="255" required />
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Description (optional)</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <input type="submit" class="btn btn-success btn-large" value="Add" />
    </form>
    <hr>
    <div class="page-header">
        <h1>Reference List</h1>
    </div>
    <table class="table table-bordered" id="rtable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Key</th>
            <th>Value</th>
            <th>Description</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        {% for ref in references %}
            <tr class="pending-user">
                <td>{{ ref.id }}</td>
                <td>{{ ref.name }}</td>
                <td>{{ ref.path }}</td>
                <td>{{ ref.description }}</td>
                <td><span class="user-actions"><span onclick="delReference(this);" data-rid="{{ ref.id }}" class="label label-danger" style="cursor:pointer;">Delete</span></span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
    $("#manage-reference").addClass("active");
    var csrftoken = $.cookie('csrftoken');
    $.ajaxSetup({
        beforeSend: function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    });
    $("form").submit(function(){
		var self = $(this);
		$.post(self.attr("action"), self.serialize(), success, "json");
		return false;

		function success(data){
			if(data.status){
                addNew(data.info, $("#name").val(), $("#path").val(), $("#description").val());
				self[0].reset();
			} else {
				Messenger().post({
					message: data.info,
					type: 'error',
					showCloseButton: true
				});
			}
		}
    });
    function addNew(rid, key, value, description)
    {
        var table1 = $('#rtable');
        var firstTr = table1.find('tbody>tr:first');
        var row = $("<tr class='pending-user'></tr>");
var td = "<td>"+rid+"</td><td>"+key+"</td><td>"+value+"</td><td>"+description+"</td><td><span class='user-actions'><span onclick='delReference(this);' data-rid='"+rid+"' class='label label-important' style='cursor:pointer;'>Delete</span></span></td>";
        row.append(td);
        table1.append(row);
    }
    function delReference(obj){
	    var self = $(obj);
        $.get("{% url 'ui:delete_reference' %}", {ref: self.attr("data-rid")}, function(data){
            if(data.status){
                self.parent().parent().parent().hide("slow");
		    };
	    });
    }
{% endblock %}