{% extends 'ui/base.html' %}
{% block title %}System Settings | BioQueue{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="page-header">
        <h1>System Settings</h1>
    </div>
    <form class="form" method="post" action=".">
        <div class="form-group">
            <label class="control-label" for="path">Run folder</label>
            <input type="text" class="form-control" id="path" name="path" value="{{ run_folder }}" required />
        </div>
        <div class="form-group">
            <label class="control-label" for="cpu">Processors</label>
            <input type="number" class="form-control" id="cpu" name="cpu" value="{{ cpu }}" required />
        </div>
        <div class="form-group">
            <label class="control-label" for="mem">Memory(Gb)</label>
            <input type="number" class="form-control" id="mem" name="mem" value="{{ memory }}" required />
        </div>
        <div class="form-group">
            <label class="control-label" for="dquota">User Disk Quota(Gb) <i id="tooltip" class="icon-info-sign tooltipopen" data-toggle="tooltip" title="Total Disk Space(Gb): {{ max_disk }}<br />Free Disk Space(Gb): {{ free_disk }}" data-html="true"></i></label>
            <input id="dquota" name="dquota" class="sliderbar" data-slider-id='diskquota' type="text" data-slider-min="0" class="form-control" data-slider-max="{{ max_disk }}" data-slider-step="1" data-slider-value="{{ disk_quota }}"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="rconf">Regression confidence: <i id="tooltip" class="icon-info-sign tooltipopen" data-toggle="tooltip" title="Weight for regression result" data-html="true"></i></label>
            <input id="dquota" name="rconf" class="sliderbar" data-slider-id='regconfi' type="text" data-slider-min="0.1" class="form-control" data-slider-max="2" data-slider-step="0.1" data-slider-value="{{ confidence_weight }}"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="dquota">Correlation coefficient threshold: <i id="tooltip" class="icon-info-sign tooltipopen" data-toggle="tooltip" title="If the absolute value of correlation coefficient is less than this threshold, BioQueue will possess mean and sd." data-html="true"></i></label>
            <input id="ccthr" name="ccthr" class="sliderbar" data-slider-id='corcoethr' type="text" data-slider-min="0.1" class="form-control" data-slider-max="1" data-slider-step="0.1" data-slider-value="{{ threshold }}"/>
        </div>
        {% csrf_token %}
        <input type="submit" class="btn btn-success btn-large" value="Update" />
    </form>
    <hr/>
    <div class="page-header">
        <h1>System Maintenance</h1>
    </div>
    <div>
        <a href="{% url 'ui:clean_dead_lock' %}" class="btn btn-danger">Clean Dead Lock</a>
    </div>
</div>
{% endblock %}
{% block script %}
$('.tooltipopen').tooltip();
$('.sliderbar').slider({
    formatter: function(value) {
        return 'Current value: ' + value;
    }
});
{% endblock %}