<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order</th>
            <th>Software</th>
            <th>Parameter</th>
            <th>Check point</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
    {% for step in step_list %}
        <tr class="pending-user">
            <td>
            <select class="step-order" id="step-order-{{ step.step_order}}" data-sid="{{ step.id }}" data-raw="{{ step.step_order }}">
                {% for s in step_list %}
                <option value ="{{ forloop.counter }}" {% if forloop.counter == step.step_order %}selected{% endif %}>{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            </td>
            <td>{{ step.software }}</td>
            <td class="editble" onclick="edit(this);" data-sid="{{ step.id }}" data-pid="{{ step.parent }}">{{ step.parameter }}</td>
            <td>
                <span class="label label-warning cpu" data-hash="{{ step.hash }}" onclick="showML(this);" style="cursor:pointer;">CPU</span>
                <span class="label label-info mem" data-hash="{{ step.hash }}" onclick="showML(this);" style="cursor:pointer;">Memory</span>
                <span class="label label-success disk" data-hash="{{ step.hash }}" onclick="showML(this);" style="cursor:pointer;">Disk</span>
            </td>
            <td>
                <span class="user-actions"><a href="#" class="label label-danger dels" data-sid="{{ step.id }}">Delete</a></span>
                <span class="user-actions"><a href="/admin/ui/prediction" class="label label-info">Edit Checkpoint</a></span>
            </td>
        </tr>
	{% endfor %}
    </tbody>
</table>
<button class="btn btn-default" id="update-order" role="button">Update Order</button>
<script type="text/javascript">
$("table td .dels").click(function(){
	var self = $(this);
	$.get("{% url 'ui:delete_step' %}", {id: self.attr('data-sid')}, function(data){
		if(data.status){
			self.parent().parent().parent().remove();
		}
	});
});
$("#update-order").click(function () {
    var order_chain = "";
    $.each($('.step-order'), function (key, ele) {
        if($(ele).val()!=$(ele).attr("data-raw")){
            order_chain += $(ele).attr("data-sid") + "=" + $(ele).val() + ";";
        }
    });
    if (order_chain == ""){
        Messenger().post({
            message: "The order is identical to the former one.",
            type: 'error',
            showCloseButton: true
        });
    }else{
        $.get('{% url 'ui:update_step_order' %}', {step_order: order_chain, protocol: {{ parent }} }, function(data){
            if (data.status){
                Messenger().post({
                    message: data.info,
                    showCloseButton: true
                });
                showSteps({{ parent }});
            }else{
                Messenger().post({
                    message: data.info,
                    type: 'error',
                    showCloseButton: true
                });
            }
        });
    }
});
</script>