{% if user_files %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>File Name</th>
            <th>File Size</th>
            <th>Create Time</th>
            <th>Operate</th>
        </tr>
    </thead>
    <tbody>
    {% for file_item in user_files %}
        <tr>
            <td>{{ file_item.name }}</td>
            <td>{{ file_item.file_size | filesizeformat }}</td>
            <td>{{ file_item.file_create }}</td>
            <td><span class='label label-danger' data-path='{{ file_item.trace }}' style='cursor:pointer;' onclick=delFile(this);><i class="icon-trash"></i></span> <a class='label label-success' href='/ui/download-job-file/f/{{ file_item.trace }}' style='cursor:pointer;'><i class="icon-download-alt"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}