{% if user_files %}
<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th class="align-middle">File Name</th>
            <th class="align-middle">File Size</th>
            <th class="align-middle">Create Time</th>
            <th class="align-middle">Operation</th>
        </tr>
    </thead>
    <tbody>
    {% for file_item in user_files %}
        <tr id="fileRow{{ forloop.counter }}">
            <td class="align-middle">{{ file_item.name }}</td>
            <td class="align-middle">{{ file_item.file_size | filesizeformat }}</td>
            <td class="align-middle">{{ file_item.file_create }}</td>
            <td class="align-middle">
                <div class="btn-group btn-group-sm" role="group" aria-label="Operations available">
                    <button type="button" data-path="{{ file_item.trace }}" data-row-id="{{ forloop.counter }}" class="btn btn-secondary" onclick=delFile(this); title="Delete file"><i class="fas fa-trash-alt"></i></button>
                    <a class="btn btn-secondary" href="/ui/download-file/{{ jid }}/{{ file_item.trace }}" title="Download file"><i class="fas fa-download"></i></a>
                    <button type="button" class="btn btn-secondary" data-path="{{ file_item.trace }}" onclick=showQuickRef(this); title="Create a reference"><i class="fas fa-book"></i></button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    function showQuickRef(obj) {
    var self = $(obj);
    $('.ref-form #path').val(self.attr("data-path"));
    $('.ref-form').show('fast');
}
</script>
{% endif %}