<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Software</th>
            <th>Parameter</th>
            <th>Check point</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for step in step_list %}
        <tr class="pending-user">
            <td>{{ step.id }}</td>
            <td>{{ step.software }}</td>
            <td class="editble" onclick="edit(this);" data-sid="{{ step.id }}" data-pid="{{ step.parent }}">{{ step.parameter }}</td>
            <td>
                <span class="label label-warning cpu" data-hash="{{ step.hash }}" onclick="showML(this);" style="cursor:pointer;">CPU</span>
                <span class="label label-info mem" data-hash="{{ step.hash }}" onclick="showML(this);" style="cursor:pointer;">Memory</span>
                <span class="label label-success disk" data-hash="{{ step.hash }}" onclick="showML(this);" style="cursor:pointer;">Disk</span>
            </td>
            <td>
                <span class="user-actions"><a href="#" class="label label-success dels" data-sid="{{ step.id }}">Delete</a></span>
            </td>
        </tr>
	{% endfor %}
    </tbody>
</table>
<script type="text/javascript">
$("table td .dels").click(function(){
	var self = $(this);
	$.get("{% url 'ui:delete_step' %}", {id: self.attr('data-sid')}, function(data){
		if(data.status){
			self.parent().parent().parent().remove();
		}
	});
});
</script>