{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign In | BioQueue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Li Yao">
    <link href="{% static "ui/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "ui/css/bootstrap-theme.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "ui/css/site.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "ui/css/font-awesome.min.css" %}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{% static "ui/js/respond.min.js" %}"></script>
        <script src="{% static "ui/js/html5shiv.min.js" %}"></script>
    <![endif]-->
</head>
<body style="background-color: #efefef;">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    		<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    	</a>
    	<a class="brand" href="{% url 'ui:index' %}">
    		<span class='brand-slogan'>BioQueue</span>
    	</a>
    	<div class="nav navbar-nav navbar-right" style="margin-top:3px;">
    		{% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'accounts:logout' %}"><i class="icon-user"></i> Log out</a>
            {% endif %}
		</div>
	</div>
  </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
<hr>
{% include 'ui/foot.html' %}
<script src="{% static "ui/js/jquery.js" %}"></script>
<script src="{% static "ui/js/bootstrap.min.js" %}"></script>
<script>
{% block script %}{% endblock %}
</script>
</body>
</html>
