{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign In | BioQueue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Li Yao">
    <link href="{% static "ui/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "ui/css/bootstrap-theme.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "ui/css/site.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "ui/css/font-awesome.min.css" %}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{% static "ui/js/respond.min.js" %}"></script>
        <script src="{% static "ui/js/html5shiv.min.js" %}"></script>
    <![endif]-->
</head>
<body style="background-color: #efefef; padding-top: 49px;">
{% include 'ui/navigation.html' %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
<hr>
{% include 'ui/foot.html' %}
<script src="{% static "ui/js/jquery.js" %}"></script>
<script src="{% static "ui/js/bootstrap.min.js" %}"></script>
<script>
{% block script %}{% endblock %}
</script>
</body>
</html>
