<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<a href="__CONTROLLER__/showFolder/job/{$job}/p/1" class="btn">Back</a>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>File name</th>
			<th>Size</th>
			<th>Modify time</th>
		</tr>
	</thead>
	<tbody>
	<volist name="prol" id="hit">
	<tr>
		<td><if condition="($hit.s eq '')"><a href="__ACTION__/job/{$job}/f/{$hit.f}">{$hit.f}</a>
		<else />{$hit.f}
		</if>
		</td>
		<td>{$hit.s}</td>
		<td>{$hit.m}</td>
	</tr>
	</volist>
	</tbody>
</table>
</body>
</html>